.carousel__btn {
  cursor: pointer;
  width: 47px;
  height: 47px;

  &_next {
    background: url(../images/slider-btn/next-btn.png);
  }

  &_prev {
    background: url(../images/slider-btn/prev-btn.png);
  }
}
